body {
    font-family: roboto;
    background: #FFF9F2;
}

/* utilities */
/* button */
.btn-blue {
    color: #FFF9F2;
    background: linear-gradient(128.23deg, #023E88 30.51%, #0256BD 77.84%);
    border-radius: 15px;
}

.btn-blue:hover {
    color: #FFF9F2;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.btn-white {
    color: #13263D;
    background-color: white;
    border-radius: 15px;
}

.btn-white:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

/* divider */
.divider {
    width: 70px;
    height: 8px;
    border-radius: 4px;
    background: #F47920;

}

/* end utilities */

/* navbar */
.navbar {
    background-color: white;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.05);
}

.navbar .navbar-toggler i {
    font-size: 35px;
    color: #13263D;
}

.navbar-nav .nav-link {
    color: #13263D;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 400;
}

.navbar-nav .nav-link:hover {
    color: #F47920;
    font-weight: 400;
}

/* end navbar */

/* slider */

.slider {
    height: 600px;
    width: 100%;
}

.slider .heading {
    margin-top: 125px;
    margin-bottom: 70px;
}

.slider img {
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 20px;
    width: auto !important;
    height: 430px;
}

.slider-1 {
    background: linear-gradient(128.23deg, #023E88 30.51%, #0256BD 77.84%);
    color: white;
}

.slider-2 {
    background: linear-gradient(106.64deg, #F47920 33.71%, #FFA667 100%);
    color: white;
}

/* end slider */

/* program section */
.program {
    background-color: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: -50px;
    padding: 30px 20px;
    position: relative;
    z-index: 9;
}

.program img {
    margin-right: 10px;
}

.program p {
    font-size: 18px;
    font-weight: 500;
}

/* end program section */

/* faculty section */
.faculty {
    margin-top: 150px;
}

.faculty img {
    margin-bottom: 20px;
    margin-top: 30px;
}

.faculty h6 {
    margin-bottom: 20px;
}

.faculty a {
    text-decoration: none;
    color: #13263D;
}

.faculty a:hover {
    color: #F47920;
}

.faculty a i {
    color: #F47920;
}

/* modals */
.modal-content {
    background-color: #FFF9F2;
    border-radius: 10px;
    border: none;
}

.modal .header {
    text-align: center;
    color: white;
    border: none;
    border-radius: 10px 10px 0px 0px;
    padding: 0px;
    height: 270px;
    background-size: cover;
}

.modal .febi {
    background-image: url("/img/febi-illustrasi.svg");
}

.modal .fhi {
    background-image: url("/img/fh-illustrasi.svg");
}

.modal .ft {
    background-image: url("/img/ft-illustrasi.svg");
}

.modal .ps {
    background-image: url("/img/sp-illustrasi.svg");
}

.modal .header .close {
    position: relative;
    margin-right: -10px;
    margin-top: -10px;
}

.modal .header .close i {
    color: white;
    border: none;
}

.modal-body {
    margin: 10px 30px 20px 30px;
}

.modal-body ul {
    margin-top: 20px;
}

.modal-body ul span {
    color: #F47920;
    font-size: 25px;
    margin-right: 30px;
}

.modal-body ul li {
    margin-bottom: 10px;
}

.modal-body ul li p {
    margin-bottom: -1px;
}

/* end modal */
/* end faculty section */
/* test section */
.jalur-test {
    margin-top: 90px;
}

.jalur-test img {
    height: 55px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.jalur-test h6 {
    margin-bottom: 20px;
}

.jalur-test a {
    text-decoration: none;
    color: #13263D;
    display: block;
    margin-bottom: -15px;
}

.jalur-test a:hover {
    color: #F47920;
}

.jalur-test a i {
    color: #F47920;
}

/* end test section */

/* mobile version style */
@media (max-width: 767.98px) {
    .slider {
        text-align: center;
    }

    .slider img {
        visibility: hidden;
    }

    .program {
        margin-top: -150px;
    }

    .faculty {
        text-align: center;
    }

}

/* tablet version style */
@media (max-width: 991.98px) {
    .program img {
        margin-bottom: 25px;
    }

    .jalur-test img {
        margin-top: 40px;
    }
}